@using MyEvernote.BusinessLayer
@using MyEvernote.Entities
@using MyEverNote.WebApp.Models

@{ 
    //CategoryManager cm = new CategoryManager();
    // List<Category> list= cm.List();
    List<Category> list = CacheHelper.GetCategoriesFromCache();

}

<p class="lead">Kategoriler</p>
<div class="list-group">
    <a href="@Url.Action("Index","Home")" class="list-group-item"> <span class="glyphicon glyphicon-arrow-right"></span>Tümü</a>
    @foreach (Category cat in list)
    {
        //Category controllerin altında select action unda  category id ye git
        <a href="/Home/ByCategory/@cat.Id" title="@cat.Description" class="list-group-item"><span class="glyphicon glyphicon-arrow-right"></span>@cat.Title</a>
    }


</div>

